# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# user specific
*.user
*.suo

# Visual Studio specific
TestResults

# Set 'Allow NuGet to download missing packages during build' in Package Manager's options
packages

# NCrunch cache
_NCrunch_*/

# JetBrains dotCover specific
*.dotCover
