# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults

# NCrunch cache
_NCrunch_*/

# JetBrains' dotCover
*.dotCover

# user settings
*.user
*.suo
